spring:
  application:
    name: app-escritorio-backend
  profiles:
    active: dev

server:
  port: 8080

app:
  security:
    admin:
      username: ${APP_ADMIN_USERNAME:admin}
      password: ${APP_ADMIN_PASSWORD:admin123}
